# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
/doc/_bookdown_files/
/doc/North.tex
/doc/North.md
/doc/South.tex
/doc/South.md

# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.upa
*.log

# stuff to ignore
/ignored/
/models/ignored/

/data-raw/*
!/data-raw/*.R

/past*assessments/


# # ss_new files
# control.ss_new
# data.ss_new
# forecast.ss_new
# starter.ss_new
# wtatage.ss_new

# # output files
# CompReport.sso
# Report.sso
# warning.sso

# model files that we don't want to track (for now)
admodel.cov
admodel.dep
admodel.hes
checkup.sso
*.tmp
covar.sso
CumReport.sso
derived_posteriors.sso
echoinput.sso
fmin.log
gradient.*
ParmTrace.sso
plots/
plots_StartTime*/
models/*/plots/
models/*/plots*/
posterior_obj_func.sso
posterior_vectors.sso
posteriors.sso
rebuild.sso
runnumber.ss
SIS_table.sso
ss.b0*
ss.bar
ss.ecm
ss.eva
ss.exe
!/inst/bin/*/ss.exe
ss.log
ss.mc2
ss.mcm
ss.p0*
ss.r0*
ss.rep
ss.std
suggested_tuning.ss

# document files that we don't want to track
_main*

# additions on June 23 to help Ian navigate git better
/models/
!/models/2021.s.014.001*
!/models/2021.n.015.004*
/models/*_profile_*/
!/models/*_profile_*/*.csv
!/models/*_profile_*/*.png
/models/*/custom_plots/
/figures/compare/
!/models/2021.n.022.302*
!/models/2021.s.014.301*
!/models/*.R
